.user-card-post-names-outlet,
.user-post-names-outlet,
.username-reputation-container,
li#current-user {
  display: flex;
}

li#current-user {
  .user-reputation-count {
    color: var(--header_primary-low-mid);
  }
  .gold-badge-count {
    color: #ffcc02;
  }
  .silver-badge-count {
    color: #b4b8bc;
  }
  .bronze-badge-count {
    color: #d1a684;
  }
}

.user-badge-count-by-type,
.user-reputation-count {
  font-size: 1em;
}

.username-reputation-container {
  flex-direction: column;
  .user-badge-count-by-type,
  .user-reputation-count {
    font-size: 0.8em;
  }
  .badge-reputation-container {
    display: flex;
  }
}

.user-badge-count-by-type,
.user-reputation-count {
  display: flex;
  justify-content: start;
  align-items: center;

  span {
    margin-left: 2px;
    margin-right: 3px;
  }
}

.user-reputation-count {
  span {
    font-weight: bolder;
  }
}

.user-badge-count-by-type {
  .badge {
    display: flex !important;
    justify-content: center;
    align-items: center;

    .gold-badge,
    .silver-badge,
    .bronze-badge {
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }

    .gold-badge {
      background-color: #ffcc02;
    }

    .silver-badge {
      background-color: #b4b8bc;
    }

    .bronze-badge {
      background-color: #d1a684;
    }
  }
}

.topic-meta-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .names {
    margin-right: 0;
  }
}

.username-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.topic-meta-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 4px;
  margin-bottom: 4px;

  .user-infos {
    margin-top: 8px;
  }
}

.topic-avatar {
  border-top: none;
  margin: 0;
  padding: 0;
  padding-right: 4px;
}

.post-voting-post {
  top: 0px !important;
  margin-top: 0 !important;
}

.user-summary-report {
  margin-bottom: 40px;

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-low);
    padding-bottom: 0.5em;

    h3 {
      text-transform: uppercase;
    }
  }

  .section-body {
    .charts .header {
      border-bottom: none;
    }
  }

  .period-chooser .period-chooser-header {
    font-size: var(--font-down-2);
  }
}
